@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: #666666;
    font-family: "微软雅黑";
}
.shoppingCarAll {
    margin: 0 auto;
    width: 1200px;
    margin-top: 100px;
}
/*头*/

.shoppingCarHead {
    width: 1000px;
    height: 60px;
    margin-left: 100px;
    text-align: center;
    background-color: #F5F5F5;
}

.shoppingCarHead .row {
    width: 1000px;
    height: 60px;
    margin-top: 30px;
    line-height: 60px;
    font-size: 16px;
}
/*中间*/

.shoppingCarBody {
    width: 1000px;
    height: 180px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    border: 1px solid #E9E9E9;
}

.shoppingCarBody ul li {
    list-style: none;
    float: left;
}
/*单选框*/
.check {
    margin-left: 40px;
    margin-top: 70px;
}

.check input {
    width: 20px;
    height: 20px;
}
/*照片*/
.bookImg img {
    width: 90px;
    height: 110px;
}

.bookImg {
    width: 100px;
    height: 120px;
    margin-top: 30px;
    margin-left: 90px;
    border: 1px dashed #E9E9E9;
    text-align: center;
    line-height: 120px;
}
/*图书信息*/
.bookInfo{
    width: 200px;
    height: 100px;
    margin-top: 30px;
    margin-left: 10px;

}
/*图书姓名*/
.bookName{
    margin-top: 10px;
    margin-left: 30px;
    width: 100px;
    height: 30px;
    color: #9C9C9C;
}
/*图书作者*/
.bookAuthor{
    margin-top: 20px;
    margin-left: 30px;
    width: 100px;
    height: 30px;
    color: #9C9C9C;
}
/*图书价格*/
.bookPrice {
    width: 130px;
    height: 30px;
    margin-top: 30px;
    text-align: center;
}
/*加减按钮*/
.bookSub-Add {
    width: 130px;
    height: 30px;
    margin-top: 30px;
}

.bookSub-Add .bookAdd,
.bookSub-Add input,
.bookSub-Add .bookSub {
    float: left;
    position: relative;
    z-index: 0;
}

.bookSub-Add .bookAdd:hover,
.bookSub-Add .bookSub:hover {
    color: #f50;
    z-index: 3;
    border-color: #f60;
    cursor: pointer;
}

.bookSub-Add .bookSub,
.bookSub-Add .bookAdd {
    width: 30px;
    height: 30px;
    border: 1px solid #e5e5e5;
    background: #f0f0f0;
    text-align: center;
    line-height: 25px;
    color: #444444;
}

.bookSub-Add .bookSA {
    width: 70px;
    height: 30px;
    border: 2px solid #DCDCDC;
    text-align: center;
}
/*总价格*/
.bookPrices {
    width: 120px;
    height: 30px;
    margin-top: 30px;
    text-align: center;
}
/*删除 收藏按钮*/
.bookButton {
    width: 130px;
    height: 30px;
    margin-top: 30px;
    text-align: center;
}

.bookButton .btn1,
.btn2 {
    width: 90px;
    height: 30px;
}

.bookButton .btn1,
.btn2 {
    border: none;
    background-color: #F5F5F5;
    text-align: center;
}

.bookButton .btn1:hover,
.bookButton .btn2:hover {
    color: #f50;
    z-index: 3;
    border-color: #f60;
    cursor: pointer;
}

.bookButton .btn2 {
    margin-top: 15px;
}
/*底*/

.shoppingCarFoot {
    width: 1000px;
    height: 60px;
    border-top: 1px solid #000000;
    margin-left: 100px;
    text-align: center;
    font-size: 16px;
    background-color: #F5F5F5;
    margin-top: 50px;
    margin-bottom: 50px;
}

.car_title_foot {
    width: 1000px;
    height: 60px;
    line-height: 60px;
}

.bookMoney {
    font-size: 22px;
    color: #B22222;
}

.shoppingCarFoot .submitData {
    background: darkred;
    color: white;
    font-size: 30px;
    cursor: pointer;
    font-weight: bolder;
}

.shoppingCarFoot .submitDis {
    background: #B0B0B0;
    cursor: no-drop;
}
/**
空购物车
 */
.shoppingCar {
    margin: 200px auto;
    width: 500px;
    height: 80px;
    text-align: center;
}
.shoppingCar img{
    height: 100px;
    width: 100px;
}
/**
 * 公共部分
 */

.bookPrice span,
.bookPrices span,
.bookCount {
    color: #8B0000;
}

.check-all {
    width: 17px;
    height: 17px;
}