*{
	margin: 0px;
	padding: 0px;
	color: #666666;
}

.body{
	width: 700px;
	margin: 50px auto;
}


.list-title{
	height: 30px;
}
.list-title h4{
	display: inline-block;
	margin-right: 20px;
}

.book-all img{
	width: 75px;
}

.book-ul-a{
	list-style: none;
}

.book-all{
	margin-top: 20px;
	border-top:  gainsboro 1px solid;
}

.book-only{
	margin-top: 10px;
	border-bottom: gainsboro 1px solid;
	padding-bottom: 20px;
}


.book-ul-b{
	list-style: none;
	margin-top: 20px;
}


.book-ul-b span{
	color: darkred;
	font-size: 14px;
}
