/*公共部分*/
*{
	margin: 0px;
	padding: 0px;
}
.lf{
	float: left;
}
.lr{
	float: right;
}

/*未填写默认地址时，首次填写地址，确认订单页面*/
.zhu_ti{
	width: 1000px;
	margin: 0 auto;
}
h4{
	font-weight: 800;
	font-size: 20px;
}
table{
	margin-top: 30px;
	margin-left: 30px;
	border-collapse:separate; 
	border-spacing:10px 25px;
}
table tr>td:first-child{
	color: #666666;
	text-align: right;
}
table span{
	color: darkred;
}
#celect{
	color: #666666;
}
#celect1{
	color: #666666;
}
input{
	height: 25px;
}
input[name=address]{
	width: 350px;
}
#distpicker{
	color: #000000;
}
#distpicker1{
	color: black;
}
tr div{
	color: #D00000;
}
.td_checkbox input,.td_checkbox{
	vertical-align:middle; 
}
/*有默认地址时，展示默认地址*/
.zhu_ti1{
	width: 1000px;
	margin: 0 auto;
}
.zhu_ti1 div{
	display: inline-block;
}
.zhu_ti1_div1 input,.zhu_ti1_div1 span{
	vertical-align:middle; 
}
.zhu_ti1_div2{
	margin-left: 100px;
}
.zhu_ti1_background{
	width: 1000px;
	height: 50px;
	background: #F8F7F3;
}
.zhu_ti1_background div{
	line-height: 50px;
}
.zhu_ti1_div1 input{
	margin-left: 20px;
	
}
.zhu_ti1_div3{
	margin-right: 30px;
}
/*商品清单*/
.commodity_list{
	width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
}
.commodity{
	margin-top: 30px;
	border-top: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
}
.commodity div{
	display: inline-block;
	margin: 15px 2px;
}
.commodity_div2{
	padding-left: 10px;
}
.commodity_div3{
	padding-left: 300px;
}
.commodity_div4{
	padding-left: 100px;
}
.commodity_div5{
	padding-left: 100px;
}
.commodity_div6{
	padding-left: 80px;
}

.express{
	margin-top: 20px;
}
.fen_ge{
	border: 1px solid darkred;
	margin-top: 100px;
}
.price{
	margin-top: 20px;
	text-align: right;
	font-size: 16px;
}
.price span{
	color: darkred;
}
.span_price{
	font-size: 30px;
}
.order{
	margin-top: 20px;
	float: right;
}










/*三角箭头*/
.triangle {
display:inline-block;
width: 0;
height: 0;
overflow: hidden;
margin: 0px 10px;
line-height: 0;
font-size: 0;
vertical-align: middle;
border-right: 7px solid darkred;
border-left: 0 none;
border-top: 5px solid transparent;
border-bottom: 5px solid transparent;
color: #D00000;
filter: chroma(color=#D00000);
}