*{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}
a:hover{
    color: orange;
}
.div_body {
    width: 700px;
    margin-top: 80px;
    position: relative;
}
.div_jieGuo{
    width: 900px;
    margin-top: 20px;
}
.div_neiRong{
    width: 800px;
    margin-top: 80px;
}
.div_searchNull_img img{
    display: block;
    margin: 0 auto;
    width: 90px;
    height: 90px;
}
.div_searchNull{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    color: #707070;
}
/*联想词的下拉框的样式*/
#box{
    margin-left: 80px;
    background: white;
    width: 434px;
    position: absolute;
    z-index: 999;
    border: 1px solid #66afe9;
    box-shadow: #66afe9 0 0 2px 0;
    border-top: none;
    top: 45px;
    display: none;
}
#box ul li{
    list-style: none;
}
#box ul,#box li{
    line-height: 14px;
    font-size: 17px;
    padding: 5px 10px;
    width: 420px;
}
#box li.current{
    background:#CCCCCC;
    color:#0000FF;
    cursor: pointer;
}
#box li:hover{
    background:#CCCCCC;
    color:#0000FF;
    cursor: pointer;
    font-size: 20px;
}